body{
    background: url('../images/cafe.jpg') no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
    background-size: cover;
    font-family: 'Special Elite', cursive;
    color: white;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15% 8% 70% 7%; 
    margin: 0;
    height: 100%;
    grid-template-areas: "title",
    "tabs",
    "content",
    "footer";
    
}
html{
    height: 100%;
}

#title{
    grid-area: title;
}
#tabs{
    grid-area: tabs;
}
#content{
    grid-area: content;
}
#footer{
    grid-area: footer;
}

